.modal-body .text-muted {
  font-style: italic;
  opacity: 0.7;
}

.modal-body .table-responsive {
  max-height: 500px;
  overflow-y: auto;
}

.modal-body .spinner-border {
  width: 3rem;
  height: 3rem;
}